{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<body>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ dj.profile.image.url }}" alt="Avatar" style="width:90px; float: left; position:absolute; top: 75px; left: 225px;">
            <div class="media-body">
                <br></br>
                <h2 class="account-heading">{{dj.profile.firstName}} {{dj.profile.lastName}}</h2>
                {% if title == 'Faculty' %}
                <i><p style="color:white;font-size:12px;">Faculty at West Point</p></i>
                {% else %}
                <i><p style="color:white;font-size:12px;">Cadet at West Point looking for {{dj.profile.lookingFor}}</p></i>
                {% endif %}
                
                <p class="text-secondary">Graduation Year: {{dj.profile.gradYear}}</p>
                <p class="text-secondary">Company: {{dj.profile.company}}</p>
                <p class="text-secondary">Department of {{dj.profile.Department}}</p>
                <p class="text-secondary">Major: {{dj.profile.Major}}</p>
                <p class="text-secondary">Minor: {{dj.profile.Minor}}</p>
                <p class="text-secondary">{{dj.profile.firstName}}'s Interests are {{dj.profile.interest}}</p>
                <p class="text-secondary">{{dj.profile.firstName}} has expertise in {{dj.profile.expertise}}</p>
                <p class="text-secondary">{{dj.profile.firstName}}'s research goals are {{dj.profile.research_goals}}</p>
            
                


            

                
                <div style="position:absolute; top: 75px; right:75px;">
                        <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow {{user.profile.twitter}}</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div style="position:absolute; top: 100px; right:75px;">
                        <p>Click here to
                        <a href="mailto:{{dj.profile.email}}">send email</a>.
                        </p>
                </div>
                <div class="contactButton">
                    <button id="myButton" class="btn info"><b>Contact</b></button>
                    <script type="text/javascript">
                        
                        document.getElementById("myButton").onclick = function () {
                            location.href = 'mailto:{{dj.profile.email}}';
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

<style type="text/css">
    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 12px 24px;
        font-size: 14px;
        cursor: pointer;
        border-radius:5px;
        position: absolute;
        top:180px;
        left: 1000px;
    }

    .info {
        border-color: #ffc400;
        color: #ffc400;
    }

    .info:hover {
                background: #fc6e04;
                color: white;
    }
</style>
{% endblock content %}
</html>
