{% extends "main/base.html" %}

{%block title %} My Projects {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <ul>
    
<div class="currentProjects">
<h4><u> Current Projects</u></h4>
    {% for uproj in object_list %}
    {% if uproj.project.status == "Active" and uproj.ifAccepted == True %}
    
        <li>
            {{uproj.project.name}}, of {{uproj.project.department}} Department. <a href="/project/{{uproj.project.name}}/">View Details.</a> 
        </li>
    {% endif %}
    {% endfor %}
</div>
<div class="pastProjects">
<h4><u> Past Projects</u></h4>
    {% for uproj in object_list %}
    {% if uproj.project.status == "Archived"%}
    
        <li>
            {{uproj.project.name}}, of {{uproj.project.department}} Department. <a href="/project/{{uproj.project.name}}/">View Details.</a> 
        </li>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}